
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');


:root {
  /* Logo */
 --logo-color1: #00aeff;
 --logo-color2: #e83a00;
 --logo-color3: #ffcf00;
 --logo-color4: #fdfffb;
 --logo-color5: #030003;

  /* background */
  --background-color: #1f2023;

  /* basic text */
  --text-color: #b3b3b3;
}

/* skygge under logo */
.logo {
 filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.9));
}

/* H1 til index side. */
.index h1 {
 font-family: "Galada", cursive;
 font-weight: 400;
 font-style: normal;
}



